<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.yifactory.daocheapp">

    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.FLASHLIGHT"/>

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name=".app.AppCtx"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:configChanges="keyboard"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan">

            <!--
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GuideTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="design_width"
            android:value="720"/>
        <meta-data
            android:name="design_height"
            android:value="1280"/>

        <activity android:name=".biz.my_function.activity.MyLecturerApplyActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".biz.my_function.activity.MyShareApplyActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".biz.home_function.activity.HomeSearchActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".biz.home_function.home_recommend_tab.activity.HomeRecommendJsListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".biz.video_function.activity.VideoAuthorHomePageActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".biz.discover_function.activity.DiscoverPublishMoodActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".biz.discover_function.activity.DiscoverPublishAnswersActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".biz.home_function.activity.HomeMsgActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".biz.home_function.home_recommend_tab.activity.HomeRecommendHeadLineActivity"/>
        <activity
            android:name=".biz.home_function.home_recommend_tab.activity.HomeRecommendInterviewVideoDetailsActivity"/>
        <activity
            android:name=".biz.home_function.home_recommend_tab.activity.HomeRecommendVideoBuyDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".biz.studyCen_function.activity.StudyCenterMyBuyVideoListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".biz.my_function.activity.MySetActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".biz.my_function.activity.MyBankCardActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".biz.my_function.activity.MyAddBankCardActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".biz.my_function.activity.MyUserInfoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".biz.my_function.activity.MyUserInfoEditActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".biz.my_function.activity.MyGradeExplainActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".biz.my_function.activity.MyTiXianActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".biz.my_function.activity.MyTopUpActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".biz.my_function.activity.MyCouponActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".biz.my_function.activity.MyFocusActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".biz.my_function.activity.MyQuestionActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".biz.my_function.activity.MyAnswerActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".biz.my_function.activity.MyTopUpDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".biz.my_function.activity.MyLecturerApplyUploadVideoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".biz.my_function.activity.MyLecturerInfoActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".biz.my_function.activity.MyLecturerUploadVideoActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"/>
        <activity android:name=".biz.my_function.activity.MyEditLecturerInfoActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".biz.my_function.activity.MyBuyActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".biz.my_function.activity.MyStudyActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".biz.my_function.activity.MyLoginActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".biz.my_function.activity.MyResetPasswordActivity"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".biz.my_function.activity.MyRegisterActivity"
            android:configChanges="orientation|keyboardHidden"
            android:windowSoftInputMode="stateHidden|adjustPan|adjustResize"
            android:screenOrientation="portrait"/>
        <activity android:name=".biz.my_function.activity.MyRegisterNextActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".biz.home_function.home_recommend_tab.activity.HomeRecommendOperateManagerActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".biz.discover_function.activity.DiscoverAnswersDetailsActivity"
            android:configChanges="keyboard"
            android:screenOrientation="portrait"/>
        <activity android:name=".biz.discover_function.activity.DiscoverMoodDetailsActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".biz.home_function.activity.HomeSearchJieGuo"
            android:screenOrientation="portrait"/>
        <activity android:name=".biz.my_function.activity.MyVideoTypeListActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".biz.my_function.activity.MyVideoTypeSecondListActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".wxapi.WXPayEntryActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:exported="true"
            android:screenOrientation="portrait"/>
        <activity android:name=".biz.video_function.activity.VideoFullScreenActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".biz.home_function.home_recommend_tab.activity.HomeRecommendHeadLineDetailActivity"
            android:screenOrientation="portrait"/>
    </application>

</manifest>